.song-list {
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-left: 20px;
  padding-right: 30px;
  

  .box {
    margin-bottom: 16px;
  }
.box2{
  margin-left:55%;
}
  .box3, .box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 70%;

    .alert {
      width: 25%;
      padding-left: 20px;
      margin-top: 10px;
    }

    .button {
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  .dataTable {
    display: flex;
    flex-direction: column;
    width: 100%;

    .dataTable-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .box1, .box4 {
        flex: 1;
        margin-bottom: 16px;
        background-color:white;
        width: 80%;

        @media (max-width: 40px) {
          margin-bottom: 8px;
        }
      }

      .box4 {
        margin-left: 16px;

        @media (max-width: 768px) {
          margin-left: 0;
        }
      }
    }
  }

  .dataGrid {
    width: 100%;
    .MuiDataGrid-root {
      overflow-x: auto;
    }
    .x{
      background-color:#5AB2FF;
      color: white;
    }
  }
  .statics{
    font-size: 18px;
    font-weight:bold;
    margin-top: 40px;
    .MuiTableCell-root {
      border: 1px solid #ddd;
    }
  
    .MuiTableRow-root {
      border: 1px solid #ddd;
    }
    .MuiTableRow-root {
      border: 1px solid #ddd;
      color: black;
    }
    background-color:#FFEFEF;
    width: 70%;
    border: 1px solid #ddd;
    align-items: start;
    align-content: start;
    justify-content: start;
    .thead{
      background-color: #5AB2FF;
      color: white;
    }
    .tbody{
      background-color: rgb(75, 99, 128);
      color: black;
      margin-top:0;
    }
    .MuiTableCell-root{
      color: white;
    }
  }
  .typography{
    background-color: #0B5EAD;
    color:white;
    width: 100%;
    margin-bottom: 5px;
  }
}
