/* Assuming your Footer component is styled in Footer.scss */

footer {
    background-color:cornflowerblue;
    padding: 10px;
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom:0px;

  }
  